<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header'); -%>


<body class="loading">
    <!-- Begin page -->
    <div id="wrapper">
        <%- include('../partials/dashboardHeader'); -%>
    <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="<%- superadminpath %>">Dashboard</a></li>
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Order Setting</a></li>
                                            <li class="breadcrumb-item active">Category Filters</li>
                                        </ol>
                                    </div>
                                    <h4 class="form-label">Filters</h4>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 


                        <div class="row">
                            <div class="col-10">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="text-uppercase mt-0 mb-3 bg-light p-2">Associate Filter</h5>

                                            <form  onsubmit="return false" id="addInst" role="form">
                                                <input  type="hidden" class="form-control" name="category" id="category" value="<%-category%>">

                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Filter1</label>
                                                    <input  maxlength="15" type="text" class="form-control" name="filter1" id="filter1" placeholder="Enter filter 1">
                                                </div>
                            
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Filter2</label>
                                                    <input  maxlength="15" type="text" class="form-control" name="filter2" id="filter2" placeholder="Enter filter 2">
                                                </div>
                            
                            
                                                <div class="text-right">
                                                    <button type="submit" class="btn btn-success waves-effect waves-light">Save</button>
                                                </div>
                                            </form>
                                        </div>
                
                                        
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->
                        
                    </div> <!-- container -->

                </div> <!-- content -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->              
                

<!-- /.modal -->
    <!-- END wrapper -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>
    <%- include('../partials/script'); -%>
    <%- include('../partials/commonJs'); -%>

</div>
<script>



    $("#addInst").validate({
        rules: {
            filter1: {
              required: true
            },
            filter2: {
              required: true
            },
        },
        messages: {
            filter1: {
                required: "This field is required"
            },
            filter2: {
                required: "This field is required"
            },
        },
        submitHandler: function (form) {
            $("#loading1").show();
            var tempform = $('#addInst');
            var form_data = new FormData(tempform[0]);
            $.ajax({
                type: 'POST',
                url: '<%-superadminpath%>filters/add',
                dataType: 'json',
                data: form_data,
                contentType:false,
                cache:false,
                processData:false,
                success: function (response) {
                    $("#loading1").hide();
                    if (response.code == 200) {
                        showToastSuccess("Filters added successfully!");
                        setTimeout(function(){
                           window.location.reload();
                        }, 2000);
                        //showToastSuccess(response.message)
                    } else {
                       
                            showToastError(response.message);
                        
                    }
                }
            });
        }
        
    });

  </script>
</body>

</html>